.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db; /* Change to your preferred color */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.production-table th,
.production-table td {
  border: 1px solid #0000ff; /* Blue color for column borders */
  text-align: left;
  padding: 10px; /* Increased padding for better readability */
}

.production-table {
  border-collapse: collapse;
  width: 100%;
}

.production-table th {
  background-color: #f8f8f8;
  font-weight: bold;
}

.production-table td {
  background-color: #fff;
}

.production-table td input {
  border: 1px solid #d1d5db; /* Light gray border for inputs */
  border-radius: 4px; /* Rounded corners */
  padding: 8px; /* Padding inside input fields */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}
